.gradle/
build/
*/build/
!gradle-wrapper.jar

.idea/
*.iml
local.properties
.externalNativeBuild/
.cxx/

shared/build/
composeApp/build/
*.kotlin_module

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

.dart_tool/
.metadata/
.packages

node_modules/

.DS_Store
Thumbs.db
captures/

*.log
*.tmp
*.temp
